:root{
  --background : #422C37;
  --darkbackground: #2A1821;
  --darkfont : #422C37;
  --cancel: #1e1218;
  --title: #ffffff;
  --lightfont: #d3d3d3;
  --tags: #422C37;
  --lightbtn: #e6e6e6;
  --disabled: #c2c2c2;
  --disabled-font: #1e1218;
  --invalid: #ff0026;
}

body{
  background-color: var(--background);
}

/*-----------------------------------------------*/
/*HOME*/
.home-cnt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-cnt h1{
  font-size: 2.5rem;
  color: var(--title);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 15rem;
  text-align: center;
}
.start-menu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 0.8rem;
}
.select-button{
  background-color: var(--lightbtn);
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: none;
  border: none;
  border-radius: 0.8rem;
  font-family: "Montserrat", sans-serif;
  color: var(--darkfont);
  font-weight: 550;
}

/*-----------------------------------------------*/
/*STOCK*/
.stock-cnt{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-menu{
  display: flex;
  flex-direction: row;
  column-gap: 8rem;
  margin-top: 2rem;
}
.page-menu h1{
  color: var(--title);
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 1.5rem;
}
.menu-icon-btn{
  width: 2rem;
}

.stock-items-cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.stock-items-cnt::-webkit-scrollbar{
  background-color: transparent;
  width: 0rem;
  height: 0rem;
}

/*------------------------------*/
/*----------CARGA STOCK------------*/

.carga-stock-cnt{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.carga-stock-cnt H2{
  color: var(--title);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.form-carga-stock{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.campo{
  display: flex;
  flex-direction: column;
  row-gap: 0.1rem;
  color: var(--lightfont);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 22rem;
}
.campo input{
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.4rem;
  color:var(--darkfont);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/*------------EDICIÓN DE PROYECTO------------------*/

.pagina-detalles-proyecto{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.pagina-detalles-proyecto header{
  margin-bottom: 2.5rem;
}
.pagina-detalles-proyecto H2{
  color: var(--title);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 1rem, 0rem, 1rem, 0rem;
}

.nav-menu-edicion{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
}
.nav-menu-edicion span{
  font-family: 'Montserrat', sans-serif;
  color: var(--lightfont);
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.seccion-actual {
  background-color: var(--darkbackground);
  border-radius: 1rem;
}

.edicion-proyecto-cnt{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkbackground);
    border-radius: 1rem;
    padding: 1rem;
    row-gap: 1.2rem;
}

.patron-btn{
  align-self: baseline !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border: none;
  cursor: pointer;
  width: 6.5rem;
  border-radius: 1rem;
  height: 2rem;
  color: var(--darkfont);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 1rem
}
/*----------------------------*/

/*COMPONENTES*/

/*SEARCHING BAR*/
.searching-bar{
  margin-top: 1rem;
  background-color: var(--lightbtn);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 0.4rem;
  width: 18rem;
}
.searching-bar input{
  background-color: var(--lightbtn);
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
/*STOCK CARD*/

.stock-card{
  margin-top: 1.5rem;
  background-color: var(--lightbtn);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  border-radius: 0.6rem;
  flex-wrap: wrap;
  width: 18rem;
  justify-content: space-between;
  align-items: center;
}

.text-stockcard{
  display: flex;
  flex-direction: column;
  align-items: baseline;

}
.text-stockcard h1{
  margin-top: 0%;
  color: var(--darkfont);
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.4rem;
  font-size: 1.3rem;
  word-wrap: break-word;
  width: 10rem;
}

.info-stockcard{
  display: flex;
  flex-direction: row;
}

.info-stockcard p{
  background-color: var(--tags);
  color: var(--lightfont);
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin-right: 0.5rem;
  margin-bottom: 0%;
}

.delete-btn-icon, .edit-btn-icon, .menu-icon-btn{
  width: 2rem;
  height: auto;
  cursor: pointer;
}

/*---------Edición-vista hilado-----*/
.title-edicion-cnt{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

/*---------SELECTORES-----------*/

.selector{
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.4rem;
  color:var(--darkfont);
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; 
  overflow-y: scroll;
}

/*------------------------------*/
/*CLASES Y ESTILOS GENÉRICOS*/

input:disabled{
  background-color: var(--disabled);
  color: var(--disabled-font);
}

select:disabled {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  background-color: var(--disabled);
  color: var(--disabled-font);
  opacity: 100%;
}

.button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0.2rem;
}
.save-btn{
  border: none;
  cursor: pointer;
  width: 10rem;
  border-radius: 1rem;
  height: 1.5rem;
  color: var(--darkfont);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.cancel-btn{
  border: none;
  cursor: pointer;
  width: 10rem;
  border-radius: 1rem;
  height: 1.5rem;
  color: var(--lightfont);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: var(--cancel);
}

input:invalid {
  color: var(--invalid);
}

/*----------------MENÚ DESPLEGABLE -----------------*/

.menuToggle {
  cursor: pointer;
  position: fixed;
  top: 1.25rem; 
  left: 1.25rem; 
  z-index: 2001;
  background-color: transparent;
  border: none;
  padding: 0;
}
.menuIcon {
  width: 1.875rem; 
  height: 1.875rem; 
}

.container {
  position: fixed;
  top: 0;
  left: -15.625rem; 
  height: 100%;
  width: 15.625rem; 
  background-color: var(--background);
  transition: left 0.5s ease;
  z-index: 2000;
}

.container.open {
  left: 0; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
}

.menuContent {
  padding-top: 3.75rem; 
}

.menuItem {
  padding: 0.9375rem; 
  text-decoration: none;
  font-size: 1.125rem; 
  color: white;
  display: block;
  transition: 0.3s;
  font-family: "Montserrat", sans-serif;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.menuItem:first-child {
  border-top: none;
}

.menuItem:hover {

background-color: rgba(255, 255, 255, 0.1);
}

/* Botón para cerrar el menú */
.closeButton {
  position: absolute;
  top: 1.25rem; /* 20px */
  right: 1.5625rem; /* 25px */
  font-size: 2.25rem; /* 36px */
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/*LOADERS*/
.loader{
  color: var(--lightfont);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}