body{
  background-color: #422C37;
}

/*-----------------------------------------------*/
/*HOME*/
.home-cnt{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-cnt h1{
  font-size: 2.5rem;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 15rem;
  text-align: center;
}
.start-menu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 0.8rem;
}
.select-button{
  background-color: #D3D3D3;
  width: 10rem;
  height: 2rem;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: none;
  border: none;
  border-radius: 0.8rem;
  font-family: "Montserrat", sans-serif;
  color: #422C37;
  font-weight: 550;
}

/*-----------------------------------------------*/
/*STOCK*/
.stock-cnt{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-menu{
  display: flex;
  flex-direction: row;
  column-gap: 10rem;
}
.page-menu h1{
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 550;
  font-size: 1.5rem;
}
.menu-icon-btn{
  width: 2rem;
}
/*------------------------------*/
/*----------CARGA STOCK------------*/

.carga-stock-cnt{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.carga-stock-cnt H2{
  color: aliceblue;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.form-carga-stock{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}
.campo{
  display: flex;
  flex-direction: column;
  row-gap: 0.1rem;
  color: #D3D3D3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  width: 22rem;
}
.campo input{
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.4rem;
  color:#422C37;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/*------------------------------*/

/*COMPONENTES*/

/*SEARCHING BAR*/
.searching-bar{
  margin-top: 1rem;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  padding: 0.4rem;
  width: 18rem;
}
.searching-bar input{
  background-color: #d9d9d9;
  border: none;
  outline: none;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
/*STOCK CARD*/

.stock-card{
  margin-top: 1.5rem;
  background-color: #eaeaea;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  border-radius: 0.6rem;
  flex-wrap: wrap;
  width: 18rem;
  justify-content: space-between;
  align-items: center;
}

.text-stockcard{
  display: flex;
  flex-direction: column;
  align-items: baseline;

}
.text-stockcard h1{
  margin-top: 0%;
  color: #422C37;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 0.4rem;
  font-size: 1.3rem;
  word-wrap: break-word;
  width: 10rem;
}

.info-stockcard{
  display: flex;
  flex-direction: row;
}

.info-stockcard p{
  background-color: #422C37;
  color: #D3D3D3;
  font-family: "Montserrat", sans-serif;
  font-size: 0.7rem;
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin-right: 0.5rem;
  margin-bottom: 0%;
}

.delete-btn-icon, .edit-btn-icon, .menu-icon-btn{
  width: 2rem;
  height: auto;
  cursor: pointer;
}

/*---------SELECTORES-----------*/

.selector{
  border: none;
  box-shadow: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.4rem;
  color:#422C37;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

/*------------------------------*/
/*CLASES Y ESTILOS GENÉRICOS*/

.button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0.2rem;
}
.save-btn{
  border: none;
  cursor: pointer;
  width: 10rem;
  border-radius: 1rem;
  height: 1.5rem;
  color: #422C37;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.cancel-btn{
  border: none;
  cursor: pointer;
  width: 10rem;
  border-radius: 1rem;
  height: 1.5rem;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  background-color: #2A1821;
}

input:invalid {
  color: #ff0026;
}
